language: php

php:
  - 5.3.9
  - 5.3
  - 5.4
  - 5.5
  - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_script:
    - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev install

script:
    - echo "Running tests"; phpunit
